:root {
  --cor-cabecalho: white; /* Defina a cor desejada aqui */
  --colorBTNheader: #CA166E;
  --colorBorderHeader: #CA166E;
}

.App {
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.App-link {
  color: #61dafb;
}